.contact{
    background: var(--contact-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: flex-start;
    gap: 2.5rem;
    margin: 1rem;
}
.contact__text-social{
    margin-top: 6rem;
    margin-left: 8rem;
}
.contact h2{
    margin: 18px 0;
    line-height: 1;
}
.contact h4{
    margin: 18px 0;
}
.contact p{
    margin-bottom: 30px;
}
.contact__form{
    position: relative;
}
.contact__form form input , form textarea {
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 10px;
}
.contact__form textarea{
    resize: none;
    height: 240px;
}
.contact__form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--primary-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
    margin-left: 40%;
    cursor: pointer;
}

@media screen and (max-width:960px){
    
}

@media screen and (max-width:480px) {
    .contact{
        grid-template-columns: 1fr;
    }   
    
}