.navbar {   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed; 
    z-index: 100; 
    width: 100%;
    padding : 0.5rem 4rem 1rem 6rem;
    background: var(--nav-color);
    top: 0%;
    height: max-content;
}
.navbar__logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover{
    color: var(--primary-color);
}
.navbar__links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: var(--text-color)
}
#menu-icon {
font-size: 3.5rem;
color: var(--text-color);
display: none;
}