@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



:root {
  
  --font-base: "DM Sans", sans-serif;

  --bg-color :             #222831;
  --nav-color :            #393e46;
  --header-color:          #254861;
  --about-color:           #258861;
  --services-color :       #222831;
  --subservices-color :    #222845;
  --contact-color:         #00adb5;
  --footer-color :         #704711;   
  
  --main-color :           #447755;
   --text-color :           #ffffff;   
  --second-color:          #e3e3e3;
     
  --subtext-color :        #455d7a;       
  --black-color:           #000;
  --white-color:           #c0b4b4;
  --gray-color:            #e4dddd;
}

  

