@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {  
  --font-base: "DM Sans", sans-serif;

  --bg-color :            #1f242d;
  --bg-variant-color:     #323946;
  --primary-color :       #00eeff;

  --nav-color :            var(--bg-color);
  --header-color:          var(--bg-color);
  --about-color:           var(--bg-variant-color);
  --services-color :       var(--bg-color);
  --subservices-color :    var(--bg-variant-color);
  --contact-color:         var(--bg-color);
  --footer-color :         var(--bg-variant-color);  
   
  --text-color :           #ffffff;
  --subtext-color :        #e3e3e3 ;   
             
  --black-color:           #000;
  --white-color:           #c0b4b4;
  --gray-color:            #e4dddd;
}

  

