.header{
    min-height: 100vh;
    display: flex;
    background: var(--header-color);
    gap: 6rem;
    }
.header__content{
        padding:1rem;
    }   
.header__photo{
        padding: 1rem;
    }

@media screen and (max-width:960px){
    
    }
    
    @media screen and (max-width:480px) {
        .header{
            flex-direction: column-reverse;
            margin-top: 4rem;
            gap: 1rem;
        .head-text{
            font-size: 2rem;
        }
            

        }
    }

   